<header id="header" class="page-header">
  <div class="title">
    <h1>Wombat Coffee Roasters</h1>
    <div class="slogan">We love coffee</div>
  </div>
</header>

<nav class="menu" id="main-menu">
  <button class="menu-toggle" id="toggle-menu" (click)="toggleMenu($event)">
    toggle menu
  </button>
  <div class="menu-dropdown">
    <ul class="nav-menu">
      <li>
        <a routerLink="/about" routerLinkActive="active"
           ariaCurrentWhenActive="page">About
          </a>
      </li>
      <li>
        <a routerLink="/shop" routerLinkActive="active" 
           ariaCurrentWhenActive="page">Shop
        </a>
      </li>
      <li>
        <a routerLink="/menu" routerLinkActive="active" 
           ariaCurrentWhenActive="page">Menu
        </a></li>
      <li>
        <a routerLink="/brew" routerLinkActive="active" 
           ariaCurrentWhenActive="page">Brew
        </a></li>
    </ul>
  </div>
</nav>

<aside id="hero" class="hero">
  Welcome to Wombat Coffee Roasters! We are passionate 
  about our craft, striving to bring you the best hand-crafted coffee in 
  the city.
</aside>

<main id="main">
  <div class="row">
    <section class="column">
      <h2 class="subtitle">Single-origin</h2>
      <p>We have built partnerships with small farms
         around the world to hand-select beans at the 
         peak of season. We then carefully roast in 
         <a routerLink="/batch-size" routerLinkActive="active"
            ariaCurrentWhenActive="page">small batches
         </a>
         to maximize their potential.
      </p>
    </section>
    <section class="column">
      <h2 class="subtitle">Blends</h2>
      <p>Our tasters have put together a selection of 
         carefully balanced blends. Our famous 
         <a routerLink="/house-blend" routerLinkActive="active"
            ariaCurrentWhenActive="page">house blend
         </a>
         is available year round.
      </p>
    </section>
    <section class="column">
      <h2 class="subtitle">Brewing Equipment</h2>
      <p>We offer our favorite kettles, French presses, and pour-over cones. 
         Come to one of our 
         <a routerLink="/classes" routerLinkActive="active"
            ariaCurrentWhenActive="page">brewing classes
         </a> 
         to learn how to brew the perfect pour-over cup.
      </p>
    </section>
  </div>
</main>